body {
   margin: 0;
   padding: 0;
   overflow: hidden;
   background: url(stadium2.jpg);
   background-size: cover;
}

marquee {
   height: 100vh;
}

.ball {
   max-width: 80px;
   animation: soccerGame 3s linear infinite;
}

@keyframes soccerGame {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}